<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Planning</title>
</head>

<body>

    <nav class="bg-gray-800 text-white">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <!-- Logo -->
                <div class="flex items-center">

                    <span class="font-semibold text-xl">FashionExpo | Planning</span>
                </div>

                <!-- Menu -->
                <div class="hidden md:flex space-x-4">

                    <a href="Admin.html"
                        class="hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium">Admin</a>
                    <a href="overons.html" class="hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium">Over
                        ons</a>
                    <a href="contact.html"
                        class="hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium">Contact</a>
                    <a href="login.html" class="hover:bg-gray-700 px-3 py-2 rounded-md text-sm font-medium">inloggen</a>

                </div>
            </div>
        </div>
    </nav>

        <div style="--my-margin: 10px; --my-marginleft: 50px;"  class="grid grid-cols-[repeat(auto-fill,_18vw)] ml-[var(--my-marginleft)] mt-[var(--my-margin)] gap-4">
        <div class="bg-blue-300 h-40">Item 1</div>
        <div class="bg-blue-300 h-40">Item 2</div>
        <div class="bg-blue-300 h-40">Item 3</div>
        <div class="bg-blue-300 h-40">Item 4</div>
        <div class="bg-blue-300 h-40">Item 5</div>
        <div class="bg-blue-300 h-40">Item 6</div>
        <div class="bg-blue-300 h-40">Item 7</div>
        <div class="bg-blue-300 h-40">Item 8</div>
        <div class="bg-blue-300 h-40">Item 9</div>
        <div class="bg-blue-300 h-40">Item 10</div>
        <!-- etc -->
        </div>

</body>

</html>